@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <table>
        <tr>
            <td><label>Customer ID</label></td>
            <td><input type="number" name="cid" /></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" name="cpass" /></td>
        </tr>
        <tr>
            <td><button asp-action="Login" formmethod="post">Login</button></td>
            <td><button>Reset</button></td>
        </tr>
    </table>
</form>
@*<div>
    <h2> @(((Error)ViewData["errmsg"]).Title)</h2>
    @(((Error)ViewData["errmsg"]).Message)
</div>*@
@*<div>
    <h2> @ViewBag.errmsg.Title</h2>
    @ViewBag.errmsg.Message
</div>*@
@{Html.RenderPartial("_ErrorMsg", ((Error)ViewBag.errmsg)); }

